{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<b>{% if messages %}
    <ul class="messages">
        {% for msg in messages %}
            <li class="{{ msg.tags }}">{{ msg }}</li>
        {% endfor %}
    </ul>
{% endif %}</b>
<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
        {% if request.session.choice == choice.id %}- previous choice.{% endif %}<br>
    {% endfor %}
    <p>
        <input type="submit" value="Vote">
        <a href="{% url 'polls:index' %}">
            <button type="button" class="swd-button">Back</button>
        </a>
    </p>
</form>



